.body {
    padding: 20px;
}

#info {
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgba(0, 155, 23, 0.6);
    color: white;
    display: none;
    padding: 0 8px;
}